<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgetmeetingagenda" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sport1"
            android:label="@string/title_activity_sport1" >
        </activity>
        <activity
            android:name=".Sport2"
            android:label="@string/title_activity_sport2" >
        </activity>
        <activity
            android:name=".Sport3"
            android:label="@string/title_activity_sport3" >
        </activity>
        <activity
            android:name=".EditInfo"
            android:label="@string/title_activity_edit_info" >
        </activity>
        <activity
            android:name=".ArmLength"
            android:label="@string/title_activity_arm_length" >
        </activity>
        <activity
            android:name=".ArmLength2"
            android:label="@string/title_activity_arm_length2" >
        </activity>
        <activity
            android:name=".Sensors"
            android:label="@string/title_activity_sensors" >
        </activity>
    </application>

</manifest>
